{{- $is_work := false -}}
{{- $work_name := "" -}}
{{- $work_email := "" -}}
{{- $work_docker_registry := "" -}}
{{- $op_password_path := "" -}}

{{- /* Try corporate git repo first */ -}}
{{- $work_config_file := joinPath .chezmoi.homeDir ".config/work/config.toml" -}}
{{- if stat $work_config_file -}}
{{-   $work_config := include $work_config_file | fromToml -}}
{{-   $is_work = true -}}
{{-   $work_name = $work_config.work_name -}}
{{-   $work_email = $work_config.work_email -}}
{{-   $work_docker_registry = $work_config.work_docker_registry | default "" -}}
{{-   $op_password_path = $work_config.op_password_path | default "" -}}
{{- else if lookPath "op" -}}
{{-   /* Fallback to 1Password if op CLI is available */ -}}
{{-   $is_work = true -}}
{{-   $work_name = onepasswordRead "op://Employee/Work Config/name" -}}
{{-   $work_email = onepasswordRead "op://Employee/Work Config/email" -}}
{{-   /* etc */ -}}
{{- end -}}

[data]
    is_work = {{ $is_work }}
{{- if $is_work }}
    work_name = {{ $work_name | quote }}
    work_email = {{ $work_email | quote }}
{{- if $work_docker_registry }}
    work_docker_registry = {{ $work_docker_registry | quote }}
{{- end }}
{{- if $op_password_path }}
    op_password_path = {{ $op_password_path | quote }}
{{- end }}
{{- end }}

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
