{{ $home := .chezmoi.homeDir -}}
cache={{ $home }}/.cache/npm
prefix={{ $home }}/.local/node
fund=false
{{- if index . "is_work" }}
{{- $workConfig := include (joinPath .chezmoi.homeDir ".config/work/config.toml") | fromToml }}
registry={{ $workConfig.npm_registry }}
{{- end }}
